@media screen and (max-width: 992px) {
    .navbar {
        &-header {
            align-items: baseline;
        }

        &-collapse {
            position: absolute;
            top: 100%;
            width: 100%;
            height: 0;
            transition: all 0.5s ease-in-out;
            background-color: #fff;
            overflow: hidden;
            &_ul {
                padding: 0;
                display: block;
                li {
                    margin: 0.5rem 0 1rem 0;
                    padding: 0 15px;
                    a {
                        color: #666;
                    }
                }
            }
        }

        &-active {
            height: 330px;
            background-color: #fff;
            transition: all 0.5s ease-in-out;
            z-index: 1;
        }

        &-scrollTop {
            height: 350px;
            opacity: 1;
            background: #fff;
            z-index: 9;
            overflow: hidden;
            // transition: height 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            animation: topAnimate 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        @keyframes topAnimate {
            0% {
                height: 0;
                opacity: 0;
            }
            100% {
                height: 350px;
                opacity: 1;
            }
        }

        .menu-moblie {
            ul {
                display: none;
            }
        }

        &-scroll {
            overflow: hidden;
            .menu-moblie {
                height: 0;
                overflow: hidden;
                animation: menuNavCollsapse 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                ul {
                    display: block;
                }
            }
            transition: none;
        }

        &-collsapseScrolling {
            display: block;
            background-color: #fff;
            height: 380px;
            opacity: 1;
            animation: scrollNavNotActive 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
            z-index: 99;
            ul {
                padding: 0 2rem;
                display: block !important;
                transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
        }

        .navbar-menu_moblie {
            display: block;
            width: 100%;
            height: 330px;
            background-color: #fff;
            overflow: hidden;
            animation: scrollNavNotActive 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            ul {
                display: block !important;
                padding: 0 2rem;
                li {
                    display: block;
                }
            }
        }

        @keyframes scrollNavNotActive {
            0% {
                height: 60px;
                opacity: 0;
            }
            100% {
                height: 330px;
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #header-wrap {
        height: 160px;
        .navbar {
            .container {
                padding: 0;
            }

            &-brand {
                a {
                    padding: 1rem;
                }
                img {
                    width: 18vw;
                }
            }

            &-button {
                top: 10px;
                padding: 5px 12px;
            }

            &-scroll {
                overflow: inherit;
                .navbar-brand {
                    img {
                        width: 20vw;
                    }
                }
            }
        }

        .header-slider {
            //  height: 160px;
            &_area {
                background: #2c3e50;
                height: 10rem;
            }
            &_img {
                h2 {
                    font-size: 14px;
                    top: 60px;
                }
                p {
                    top: 50px;
                    width: 54vw;
                    line-height: 4vw;
                    font-size: 2vw;
                    margin: 0;
                }
            }
            &_caption {
                top: -12%;
                padding: 10vw 0 0 0;
                a {
                    top: 24vw;
                    padding: 3px 0rem;
                    font-size: 10px;
                    height: 25px;
                    width: 120px;
                }
            }

            &_auto {
                bottom: 0%;
                left: 52% !important;
            }
        }
    }

    .section-padding {
        padding: 2rem 0rem;

        .section-header {
            margin-bottom: 8vw !important;
            h4 {
                font-size: 1.5rem;
                margin-bottom: 2rem;
            }
        }
    }

    .about-items {
        img {
            width: 25%;
        }
    }

    .services-items {
        margin-bottom: 2vw;
        &_icon {
            font-size: 1.7rem;
        }
        &_content {
            h4 {
                font-size: 3vw;
            }
        }
    }

    #portfolio {
        .portfolio-item_wrap {
            padding: 1rem;
        }
    }

    .features-item {
        &_content {
            padding: 0px 4vw;
            h4 {
                font-size: 0.8rem;
            }
        }
    }

    #team {
        .team-item {
            margin: 1rem;
        }
    }

    #carousel {
        .owl-carousel {
            @include touchSlider(100%, 0);
            transform: translateX(0) !important;
            // width: 375px * 5 + 24px;
            height: auto !important;
            &_item {
                // width: 375px;
                text-align: center;
                // i phone X
                p {
                    padding: 0 27px;
                }
                &:first-child , &:last-child {
                    display: none;
                }
            }
            &-content {
                width: auto;
            }
        }
    }

    .footer-section {
        margin: 0rem 1rem;
    }

    .footer-copyright {
        text-align: center;
        margin: 0;
        &_list {
            // right: -24px;
            right: 10px;
            transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            a {
                margin-right: 1rem;
                font-size: 0.7rem;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #header-wrap {
        height: 240px;
        .navbar {
            &-brand {
                img {
                    width: 35%;
                }
                padding-left: 0rem;
            }

            .navbar-collapse {
                &_ul {
                    // display: block;
                    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                }
            }

            &-scroll {
                .navbar-brand {
                    img {
                        width: 40%;
                    }
                }
            }

            @keyframes menuNavCollsapse {
                0% {
                    height: 330px;
                }
            }
        }

        .header-slider {
            height: 100%;
            &_img {
                h2 {
                    font-size: 24px;
                }
                p {
                    width: 50vw;
                    font-size: 14px;
                    margin: 0;
                }
            }
            &_caption {
                top: 0%;
                padding: 4rem 0;
                a {
                    padding: 10px 2rem;
                    font-size: 15px;
                    bottom: 2%;
                    height: 50px;
                    width: 175px;
                }
            }
            &_auto {
                bottom: -1%;
            }
        }
    }

    .section-padding {
        padding: 2rem 0;
        .section-header {
            h4 {
                font-size: 1.8rem;
            }
        }
    }

    .about-items {
        padding: 0 1rem;
        img {
            width: 30%;
        }
    }

    #services {
        padding: 0 3rem;
        .services-items {
            margin-bottom: 2vw;
            &_icon {
                font-size: 2rem;
            }
            &_content {
                h4 {
                    font-size: 0.8rem;
                }
            }
        }
    }

    .features-item {
        &_content {
            padding: 0px 3vw;
            h4 {
                font-size: 0.8rem;
            }
        }
    }

    #carousel {
        // padding: 4.2rem 0px;
        .owl-carousel {
            // width: 768px * 3 + ((12px * 2 + 24px * 2) * 3 );
            width: 696px * 5 + 24px;
            // I Pad
            &_item {
                width: 696px;
                p {
                    padding: 0px 2rem;
                }
            }
        }
    }

    .footer-section {
        margin: 0rem 0.5rem;
    }

    .footer-copyright {
        margin-left: 1.4rem;
        &_list {
            left: -3vw;
            transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            a {
                font-size: 0.8rem;
                margin-right: 0.2rem;
            }
        }
    }
}

@media screen and (min-width: 993px) {
    #header-wrap {
        height: 370px;
        .navbar {
            // height: 0px;
            &-header {
                align-items: center;
            }

            &-brand {
                a {
                    font-size: 1.9rem;
                }
                img {
                    margin: 0.6rem 3.3rem;
                    width: 136px;
                }
            }

            &-collapse {
                text-align: right;
                // top: 15%;
                // width: 50%;
                // right: 0;
                transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                &_ul {
                    // display: block;
                    padding-right: 3.4rem;
                    padding-left: 0rem;
                    margin-bottom: 0rem;
                    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                    li {
                        // margin-bottom: 8px;
                        display: inline-block;
                        // padding-top: 0.75rem;
                        a {
                            color: #fff;
                            margin: 0px 27px 0 0;
                            font-size: 12.5px;
                        }
                    }
                }
            }

            &-button {
                display: none;
            }

            &-scroll {
                // height: 60px;
                // animation: scrollTopNav 0.5s ease-in-out;
                .navbar-brand {
                    img {
                        width: 115px;
                    }
                }

                .navbar-collapse {
                    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                    top: 25%;
                }
            }

            .menu-moblie {
                display: none;
            }
        }

        .header-slider {
            height: 100%;
            &_img {
                h2 {
                    font-size: 50px;
                    margin: -4rem 0 -1rem 0;
                }
                p {
                    margin: 1.5rem 0 0rem 0;
                    width: 24rem;
                    font-size: 14px;
                }
            }
            &_caption {
                top: 50%;
                padding: 4rem 0;
                a {
                    height: 55px;
                    width: 190px;
                    padding: 0.8rem 3rem;
                }
                .btn-learnMore {
                    bottom: -5%;
                }
                .btn-downLoad {
                    bottom: -5%;
                    &::after {
                        top: -0.2px;
                        right: 0;
                    }
                }
            }
            &_auto {
                bottom: 3%;
            }
        }
    }

    .section-padding {
        padding: 3rem 4rem;
        .section-header {
            h4 {
                font-size: 2.5rem;
            }
        }
    }

    .about-items {
        img {
            width: 40%;
        }
    }

    .services-items {
        &_icon {
            font-size: 1.8rem;
        }
        &_content {
            h4 {
                font-size: 1rem;
            }
        }
    }

    .features-item {
        &_content {
            padding: 0px 2vw;
            h4 {
                font-size: 1rem;
            }
        }
        &_icon {
            height: 5vw;
            width: 15vw;
        }
    }

    #portfolio {
        .portfolio-item_wrap {
            padding: 0rem;
        }
    }

    #team {
        .team-item {
            margin: 1rem;
        }
    }

    #carousel {
        // padding: 4.2rem 0;
        .owl-carousel {
            width: 1116px * 5 + 24px;
            &_item {
                width: 1116px;
                p {
                    padding: 0 3rem;
                }
            }
        }
    }

    .footer-section {
        margin: 0rem 2.5rem;
    }

    .footer-copyright {
        margin: 0;

        &_text {
            margin: 0 0 0 3.3rem;
        }

        &_list {
            // right: -80px;
            right: -8px;
            transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            a {
                margin-right: 2rem;
                font-size: 0.8rem;
            }
        }
    }
}
