@import 'helpers/mixin';
@import 'helpers/variables';
@import 'helpers/function';

@import 'layout/structure';
@import 'layout/header';
@import 'layout/about';
@import 'layout/service';
@import 'layout/portfolio';
@import 'layout/features';
@import 'layout/counter';
@import 'layout/team';
@import 'layout/pricing';

@import 'components/carousel';
@import 'components/button';

@import 'layout/footer';

@import 'pages/contact';
@import 'pages/start';

*,
::after,
::before {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Montserrat', sans-serif;
}

img {
	max-width: 100%;
}

html {
	scroll-behavior: smooth;
	overflow-y: scroll;
}

body {
	font-size: 16px;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: #444;
	font-family: 'Rubik', sans-serif;
}
