#services {
    .services-items {
        display: flex;
        justify-content: center;
        width: 100%;
        &_icon {
            margin: 0.2rem 1rem 0 0;
            color: $secondary-color;
            width: 40px;
        }
        &_content {
            width: 100%;
            h4 {
                a {
                    text-decoration: none;
                    font-weight: 700;
                    color: #444;
                    &:hover {
                        color: $secondary-color;
                        transition: all 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
                    }
                }
            }
            p {
                line-height: 1.8;
                font-size: 0.8rem;
            }
        }
    }
}